# Node modules
/node_modules/

# Logs
/logs/
/*.log

# Environment variables
.env

# OS-specific files
.DS_Store        # macOS
Thumbs.db        # Windows


package-lock.json

# Build output directories
/dist/
/build/
/out/

# VSCode settings (optional)
.vscode/

# Testing related files
/coverage/

# Miscellaneous
*.bak
*.swp

# Debug and IDE-related files
.idea/
/.idea/
/.vscode/